
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

h1, h2, h3, h4, h5, h6, p{
  color: #4e8d7c;
}


body{
  font-family: 'Lobster', cursive;
  background-color: #f3f2da;
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

footer{
  background-color: #4e8d7c;
  font-size: 2rem;
  color: #ea97ad;
  position :absolute;
  width: 100%;
  bottom: 0;
}

form{
  background-color: #4e8d7c;
  width: 800px;
  padding: 40px;
  border-radius: 30px;
  color: #f3f2da;
  align-items: center;
  position: absolute;
  right: 350px;
  font-size: 1.5rem;
}

.cart{
  margin: 10px 10px 10px 10px;
  height: 50%;
  width: 50%;
}

.card{
  background-color: #045762;
  border-radius: 10px;
  margin: auto;
}

.base{
  min-height: 100vh;
}

.alert{
  width: 650px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.navbar{
  background-color: #4e8d7c;
  height: 4.5rem;
}

.nav-link{
  font-size: 1.2rem;
  color: #ea97ad;
  margin: 10px;
}

.nav-link:hover{
  color: #eee;
}

.success{
  background-color: #f3f2da;
  margin-top: 15px;
  border-radius: 8px;
  color: #4e8d7c;
  font-size: 1.2rem;
}

.admin, .products{
  background-color: #045762;
  border-radius: 20px;
}

.color{
  color:#f3f2da
}

.product .form-group{
  padding: 5px;
}


